{% extends "admin.html.twig" %}

{%block content %}
    <div class="card mb-3">
        <div class="card-header">
        <i class="fa fa-smile-o"></i> Accueil</div>
        <div class="card-body">Bienvenu sur ton site ! ici s'elevera le tableau de tes exploits.</div>
        {#<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
      </div>
{% endblock %}