<div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>nb tatoo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for famille in familles %}
                        <tr>
                          <td>{{famille.id}}</td>
                          <td>{{famille.nom}}</td>
                          <td>{{famille.nbTatoo}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>