{% extends "admin.html.twig" %}

{% block path%}
    <li class="breadcrumb-item active">Erreur</li>
{% endblock%}

{%block content %}
    <div class="card mb-3">
        <div class="card-header">
          {#<i class="fa fa-area-chart"></i> Area Chart Example</div>#}
        <div class="card-body">
            <h1> Oups ! <br> Cette section est toujours en developpement. </h1>
        </div>
        {#<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
      </div>
    </div>
{% endblock %}